@font-face{
	font-family: pokemon;
    src: url(../fonts/Pokemon.ttf);
}

canvas{
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

html{
	background-color: #000;
	color: #fff;
}

#text{
	height: 50px;
	width: 580px;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #fff;
	border-radius: 25px;
	color: #000;
	visibility: hidden;
	font-family: pokemon;
}